<div class="row">
<% @posts.each do |post| %>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag(post.photo.url(:medium)), post %>
      <div class="caption">
        <h3><%= post.title %></h3>
        <p>
          <%= link_to 'Edit', edit_post_path(post), :role => "button", :class => "btn btn-default" %>
          <%= link_to 'X', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= link_to 'New Post', new_post_path, :role => "button", :class => "btn btn-default" %>
